.calculator label {
  text-align: center;
}
.calculator label[for]::after {
  content: ":";
}
.calculator .title {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, -200%, 0);
  font-size: large;
}
.actions-header {
  display: grid;
  grid-template-columns: 150px 180px repeat(auto-fill, 120px);
}
.input-header {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 12px;
  margin: 12px 0;
}
.input-header > div {
  text-align: center;
}
.unit {
  margin: 4px;
  font-weight: 500;
}
.input-row {
  display: grid;
  grid-template-columns: repeat(6, 150px) 24px;
  gap: 12px;
  margin: 12px 0;
}
.footer .result {
  margin: 0 4px;
}